body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
img {
    display: block;
    margin: auto;
}
img.icon {
  max-width: 32px;
  max-height: 32px;
}
#headshot {
    width:100%;
    max-width:300px;
}

#gml-target {
    width: 100%;
}

.portfolio-toggle {
    border: 2px solid #e7e7e7;
    margin: 2px;
    border-radius: 2px;
}

.portfolio-toggle:hover {
    border: 2px solid #000;
}

.portfolio-toggle:hover .link-right {
    display:inline;
    font-size: .8em;
}

.portfolio-toggle:hover .section-icon {
    display:none;
}

.link-right {
display:none;
}

.section-icon {
    display:inline;
    font-size: .8em;
}

.portfolio-item {
    display: none;
    margin-right: 2em;
    margin-left: 2em;
    padding: 10px;
}

button {
    margin-bottom: .5em;
}

.my-blurb {
    font-size: 2em;
    background-color: white
}

#udr-demo {
    width: 960px;
    height: 600px;
    margin: auto;
}

iframe {
    width: 960px;
    height: 600px;
    margin: auto;
}
