[submodule "AmherstGraph"]
	path = AmherstGraph
	url = https://github.com/SKalt/AmherstGraph.git
[submodule "BatesGraph"]
	path = BatesGraph
	url = https://github.com/SKalt/BatesGraph.git
[submodule "5CollegeGraph"]
	path = 5CollegeGraph
	url = https://github.com/SKalt/5CollegeGraph.git
