[submodule "src/univariate_distribution_relationships"]
	path = src/univariate_distribution_relationships
	url = https://github.com/SKalt/univariate_distribution_relationships.git
[submodule "src/geojson-to-gml"]
	path = src/geojson-to-gml
	url = https://github.com/SKalt/geojson-to-gml.git
