{{ define "main" }}
  {{ $gh := resources.Get "icon_gh.svg" | resources.Minify }}
  <div style="display: none;">
    {{ $gh.Content | safeHTML }}
  </div>
  <main>
    {{ range .Pages.ByDate.Reverse }}
      {{- if not .Params.archived -}}
        <article>
          <a class="project_title" href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
          <time>{{ .Date | time.Format "2006-01-02" }}</time>
          {{- with .Params.link -}}
            <a class="link" href="{{ . }}">↗</a>
            {{- else -}}
            <span class="link bg-info"></span>
          {{- end -}}
          {{- with .Params.repo -}}
            {{- partial "partials/gh_repo.html" . -}}
            {{- else -}}
            <span class="gh_repo"></span>
          {{- end -}}
        </article>
      {{- end -}}
    {{ end }}
  </main>
  <style>
    article {
      display: grid;
      grid-template-columns: 1fr min-content 1em 1em;
      margin: .5em 0;
      width: 100%;
      column-gap: 1ch;
    }
    time {
      color: GrayText;
    }
    /* .link {
      font-size: smaller;
    } */
  </style>
{{ end }}
