{% include style.html content="@import '_projects_toc.scss';" %}
<!-- define the icons _once_ -->
<div style="display: none;">
  
</div>
<ul class="project-list">
  {% assign projects = site.projects | sort:"date" %} {% for project in projects
  reversed %}
  <li>
    <details id="{{ project.identifier }}">
      <summary class="project-list__header">{{ project.title }}</summary>
      <div class="project-list__content">{{ project.content }}</div>
      <div class="project-list__links">
        <!-- link to gh repo -->
        <!-- link to site -->
      </div>
    </details>
  </li>
  {% endfor %}
</ul>
{% include asset_map/script name="toggle_project_toc.js" async=true defer=true
%}
