@import 'critical_color.scss';

header {
  @media(max-width: 1000px) {
    & {
      position: relative;
    }
    & ul {
      margin: auto;
      padding: 2ch;
      display: flex;
      flex-wrap: wrap;
      li {
        display: inline-flex;
        padding-right: 2ch;
      }
    }
  }
  @media(min-width: 1001px) {
    & {
      position: fixed;
      top: 20px;
    }
  }
  & li {
    &.selected {
      & a {
        color: $color_2;
      }
      &::marker { content: '➣'; }
    }
    &:not(.selected) {
      &::marker { content: ''; }
      & a {
        color: $color_1;
        text-decoration: none;
        &:not(:hover) {
          //
        }
      }
    }
  }
}
