// :root {} 
$color_0: #002b36;
$color_1: #839496;
$color_2: #4e9a06;
$color_3: #c4a000;
$color_4: #3465a4;
$color_5: #75507b;

/*
$color-0: rgb(0,0,0);
$color-1: rgb(204,0,0);
$color-2: rgb(78,154,6);
$color-3: rgb(196,160,0);
$color-4: rgb(52,101,164);
$color-5: rgb(117,80,123);
$color-6: rgb(6,152,154);
$color-7: rgb(211,215,207);
$color-8: rgb(85,87,83);
$color-9: rgb(239,41,41);
$color-10: rgb(138,226,52);
$color-11: rgb(252,233,79);
$color-12: rgb(114,159,207);
$color-13: rgb(173,127,168);
$color-14: rgb(52,226,226);
$color-15: rgb(238,238,236);
*/

body {
  background-color: #000;
  color: $color_1;
}

blockquote {
  border-left: 2px solid gray;
  padding-left: 2ch;
}

div.highlighter-rouge, code.highlighter-rouge {
  border-radius: 2px;
  padding: 0px 5px;
  border: 1px solid rgba(150,150,150, .5);
  margin: .25ch;
}
div.highlighter-rouge { padding: 5px 5px; }

// TODO: consider adding code-headers, maybe line numbers.
// // https://github.com/rouge-ruby/rouge/wiki/List-of-supported-languages-and-lexers
// $rouge_langs:  ("sh": "sh", "py": "Python", "ts": "TypeScript");
// @each $lang, $content in $rouge_langs {
  
//   div.highlighter-rouge.language-#{$lang} > div.highlight::before {
//     content: $content;
//     position: absolute;
//     font-size: x-small;
//     // top: -1em;
//   }
// }

@media (prefers-color-scheme: light) {
  body {
    background-color: rgb(253, 246, 227);
  }
}
a {
  &:link {
    color: $color_4;
  }
  &:visited {
    color: $color_5;
  }
}
