$color_0: #002B36;
$color_1: #839496;
$color_2: #4E9A06;
$color_3: #C4A000;
$color_4: #3465A4;
$color_5: #75507B;

/*
$color-0: rgb(0,0,0);
$color-1: rgb(204,0,0);
$color-2: rgb(78,154,6);
$color-3: rgb(196,160,0);
$color-4: rgb(52,101,164);
$color-5: rgb(117,80,123);
$color-6: rgb(6,152,154);
$color-7: rgb(211,215,207);
$color-8: rgb(85,87,83);
$color-9: rgb(239,41,41);
$color-10: rgb(138,226,52);
$color-11: rgb(252,233,79);
$color-12: rgb(114,159,207);
$color-13: rgb(173,127,168);
$color-14: rgb(52,226,226);
$color-15: rgb(238,238,236);
 */
body {
  background-color: $color_0;
  color: $color_1;
}
a {
  &:link {color: $color_4; }
  &:visited { color: $color_5; }
}
