nav {
  & li {
    &.selected {
      &::marker { content: '➣'; }
    }
    &:not(.selected) {
      &::marker { content: ''; }
      & a {
        text-decoration: none;
        &:not(:hover) {
          color: #000;
        }
      }
    }
  }
}
