.posts_toc {
  padding: 0;
}
.post {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr min-content;
  column-gap: 2em;
  & > a:first-child {
    &:not(:hover) {
      text-decoration: none;
      color: #839496; // $color_1
    }
  }
}
