@import "critical_color";
.project-list {
  list-style: none;
  margin-top: 0;
  .project-list__header {
    text-decoration: none;
    color: $color_1;
    font-size: larger;
  }
  .project-list__content {
    margin-left: 2ch;
  }
}
