:root {
  color-scheme: light dark;
  --code-bg: #00000016;
}
@media (prefers-color-scheme: dark) {
  :root {
    --code-bg: #ffffff16;
  }
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir,
    helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial,
    sans-serif;
  font-size: large;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.bg-info {
  color: GrayText;
  font-size: smaller;
}

/* navbar header */
header {
  position: fixed;
  padding: .5em 1em;
  top: 0;
  margin: auto;
  background: Canvas;
  /* border: ButtonBorder solid 1px; */
}
header ul {
  margin: auto;
  padding: 2ch;
}
header li {
  list-style: none;
  display: block;
}
header li.selected::marker {
  content: "➣";
}
header li:not(.selected)::marker {
  content: "";
}
@media (max-width: 1000px) {
  header ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }
  header ul>li {
    display: inline-flex;
    padding-right: 2ch;
  }
}


main {
  flex: 1 0 auto;
  flex-grow: 1;
  max-width: 70ch;
  padding: 2ch;
  margin: auto;
}
footer {
  flex-shrink: 0;
}

pre {
  padding: 0.25em 0.5em;
  overflow-x: scroll;
}
div.highlight:hover {
  position: relative;
  /* TODO: add a border */
}
.copy-on-click {
  display: none;
}
.highlight > pre {
  padding-bottom: 0.75em; /* to make room for a lateral scrollbar */
}
div.highlight:hover > .copy-on-click {
  position: absolute;
  display: block;
  cursor: pointer;
  top: 0px;
  right: 0px;
  height: 1em;
}

pre, code {
  font-family: San Francisco Mono, Monaco, "Consolas", "Lucida Console",
    "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  background-color: var(--code-bg);
}
code {
  border-radius: 2px;
  border: 1px solid rgba(150, 150, 150, 0.5);
}
pre code {
  border: none;
}

a > img[src] {
  max-height: 1em;
  min-height: 1em;
  vertical-align: middle;
}
footer {
  flex-shrink: 0;
}
li.flex {
  display: flex;
}
li.flex > a:first-child {
  padding-right: 1em;
}
