
{{- $gh := resources.Get "icon_gh.svg" | resources.Minify | resources.Fingerprint -}}
<nav>
  <!-- <a href="{{ absURL "tags" }}">tags</a> -->
  <!-- <a href="{{ absURL "search" }}">search</a> -->
  <ul>
    <li><a href="{{ absURL "" }}">Home</a></li>
    {{ range $.Site.Sections -}}
    <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
    {{ end -}}
    
    <li><a href="https://github.com/skalt"><img alt="GitHub" title="GitHub" src="{{ $gh.Permalink }}"></a>
    {{- with $.OutputFormats.Get "rss" -}}
      <a href="{{ .Permalink }}" style="margin-left: 1ch;"><img alt="rss" title="rss" src="{{(resources.Get "icon_rss.svg" | resources.Fingerprint).Permalink}}"></a>
    {{ end -}}
    </li>
  </ul>
  <!-- TODO: /til -->
  <!-- TODO: /bookmarklets -->
</nav>
