
{{- define "head" -}}
{{- end -}}
{{- define "main" -}}
  {{- $gh := resources.Get "icon_gh.svg" | resources.Minify -}}
  {{- $li := resources.Get "icon_li.svg" | resources.Minify -}}
  {{- $so := resources.Get "icon_so.svg" | resources.Minify -}}
  <style>
    /* centered */
    .centered {
      margin: auto;
      text-align: center;
    }
    .centered a {
      text-decoration: none;
    }
  </style>
  
  <main>
    <h1 class="centered">{{ .Title }}</h1>
    <div class="centered">
      <a href="https://github.com/skalt" target="gh">
        {{ $gh.Content | safeHTML }}
      </a>
      <a href="https://linkedin.com/in/steven-kalt" target="li">
        {{ $li.Content | safeHTML }}
      </a>
      <a href="https://stackoverflow.com/users/1234567" target="so">
        {{ $so.Content | safeHTML }}
      </a>
    </div>
    {{- .Content -}}
  </main>
{{- end -}}
