.section {
  width:100%;
  margin: 15px;
  font-size: 24px;
}
.section > summary > a {
  text-decoration: none;
}
details.section > div {
  margin: 7.5px 30px;
  font-size: 12pt;
}
.section-icon {
  color: transparent;
  /* background-color: #ec2930; */
  text-shadow: 0 0 0 #000000cc;
  margin-right: 1em;
  /* filter: grayscale(100%) saturate(1); */
}

.section-icon:hover {
  color: transparent;
  text-shadow: 0 0 #ccc;
}

a.account-link {
  text-decoration: none;
  margin-right: 32px;
  min-width: 32px;
  min-height: 32px;
}
.citation {
    background-color: #ddd;
    padding: 1em;
    font-size: smaller;
}
.centering {
  display: flex;
  justify-content: center;
}
/* @keyframes blink {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes blink {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
} */

.sh, .citation {
  font-family: monospace;
}
/* .sh *:first-child {
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-duration: 1s;
} */
@media (min-width: 900px) {
  #main {
    margin: 0% 25%;
  }
}
